@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");

:root {
  --bg: #D6CECA;
  --text: #001427;
}

body {
  margin: 0;
  padding: 20px 20px;
  background: var(--bg);
  color: var(--text);
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 640px;
  margin-left: 100px;
  margin-top: 60px;

  min-height: calc(100vh - 80px); /* ← 画面の残り高さを使う */
  display: flex;                  /* ← 親をflexに */
  flex-direction: column;         /* ← 縦に積む */
}

.nav {
  display: flex;
  gap: 8rem;          /* 好みで 6〜12rem */
  margin-top: 1.2em;
}

.nav a {
  font-size: 1.15rem;
  color: #001427;
}

/* スマホで余白とgapを縮める */
@media (max-width: 700px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
  }

  .nav {
    gap: 2.5rem;
  }
}

.divider {
  margin: 1.8em 0 1.8em 0;      /* 上下の余白 */
  border-top: 1px dotted #7776BC;
  opacity: 0.7;
  width: 100px;                /* 線の長さ（短めがおすすめ） */
}


.footer {
  margin-top: auto;   /* ← これが魔法 */
  padding-top: 1.0em;
  font-size: 0.95rem;
  opacity: 0.9;
}
